.html, body {
  overflow-x: hidden;
  font-family: "Roboto";
}

h1 {
  font-family: "Shrikhand";
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.en-tete {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 70px;
  box-shadow: 0px 3px 10px grey;
  background-color: rgba(211, 211, 211, 0.2);
}

.en-tete a {
  position: relative;
  font-size: xx-large;
  left: -610px;
  color: black;
}

.pied-page {
  display: flex;
  flex-direction: column;
  background-color: rgba(70, 70, 70, 0.925);
  color: white;
  padding: 10px;
  line-height: 30px;
  height: 200px;
  justify-content: center;
}

.pied-page h1 {
  margin-bottom: 10px;
  font-size: larger;
}

.p-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.p-icon i {
  width: 30px;
}

.pied-page p:hover {
  cursor: pointer;
}

.pied-page a {
  padding: 0;
  height: 30px;
  text-decoration: none;
  background-color: transparent;
}

.localisation {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  background-color: #f0f0f0;
  margin-top: 3px;
}

.localisation i {
  margin: 10px;
}

.localisation p {
  margin: 10px;
}

.exploration {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  line-height: 50px;
  background-color: #f0f0f0;
}

.exploration h2 {
  font-weight: bold;
  margin: 10px;
}

.exploration p {
  margin: 10px;
}

.exploration-button {
  font-family: "Roboto";
  line-height: 50px;
  padding: 0px 10px;
  border-radius: 50px;
  color: white;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  cursor: pointer;
  box-shadow: 5px 5px 10px lightgrey;
  margin: 15px;
}

.exploration-button:hover {
  transition-duration: 0.25s;
  box-shadow: 5px 5px 10px grey;
}

.fonctionnement {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fonctionnement h2 {
  font-weight: bold;
  margin: 10px;
}

.fonctionnement-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10px;
  counter-reset: compteListe;
}

.fonctionnement-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  line-height: 50px;
  margin: 10px;
  margin-left: 20px;
  box-shadow: 5px 5px 10px lightgrey;
  border-radius: 20px;
}

.fonctionnement-type::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  font-family: "Roboto";
  margin: -10px;
}

.fonctionnement-type:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.fonctionnement-type i {
  width: 15%;
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.fonctionnement-type:hover i {
  color: #9356DC;
  opacity: 100%;
}

.fonctionnement-type p {
  font-weight: bold;
  width: 85%;
}

.restaurants {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.restaurants h2 {
  font-weight: bold;
  margin: 10px;
}

.restaurants-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.restaurants-type {
  width: 50%;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.restaurants-type:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.restaurants-type img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.restaurants-type-description {
  display: flex;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 5px 5px 10px lightgrey;
  height: 60px;
}

.restaurants-type-text {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  font-size: small;
}

.restaurants-type h3 {
  font-weight: bold;
}

.restaurants-type p {
  font-weight: lighter;
}

.restaurants-type-heart {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurants-type-heart .far {
  font-size: x-large;
  transition: 5s;
}

.restaurants-type-heart .fas {
  font-size: x-large;
  display: none;
}

.restaurants-type-heart:hover .fas {
  font-size: x-large;
  display: block;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurants-type-heart:hover .far {
  display: none;
}

.note img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.palette img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.delice img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.francaise img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.restaurant-presentation {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  margin-top: -30px;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f0f0f0;
}

.restaurant-titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.restaurant-titre h2 {
  font-family: "Shrikhand";
}

.restaurant-type-heart {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-type-heart .far {
  font-size: x-large;
  transition: 5s;
}

.restaurant-type-heart .fas {
  font-size: x-large;
  display: none;
}

.restaurant-type-heart:hover .fas {
  font-size: x-large;
  display: block;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurant-type-heart:hover .far {
  display: none;
}

.restaurant-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

.restaurant-sous-menu {
  width: 32%;
}

.restaurant-sous-menu h3 {
  font-weight: lighter;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.restaurant-type {
  display: flex;
  height: 60px;
  background-color: white;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgrey;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}
.restaurant-type:hover .restaurant-check {
  width: 60px;
}
.restaurant-type:hover > .restaurant-check i {
  opacity: 1;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.restaurant-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.restaurant-prix {
  width: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.restaurant-check {
  display: flex;
  width: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  align-self: stretch;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  transition: width 0.5s ease-in-out;
}
.restaurant-check i {
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.restaurant-type:hover .restaurant-check {
  right: 0px;
}

.restaurant-button {
  font-family: "Roboto";
  width: fit-content;
  line-height: 50px;
  padding: 0px 10px;
  border-radius: 50px;
  color: white;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  cursor: pointer;
  box-shadow: 5px 5px 10px lightgrey;
  margin-top: 30px;
  align-self: center;
}

.restaurant-button:hover {
  transition-duration: 0.25s;
  box-shadow: 5px 5px 10px grey;
}

/*# sourceMappingURL=style.css.map */
