/*.loading-spinner-div{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: hsla(0,0%,100%,.9);
    visibility: visible;
    transition: hidden;
    animation-duration: 3s;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-spinner{
    animation: spin 5s infinite linear;
    border: solid 60px transparent;
    border-radius: 50%;
    border-color: #9356DC #FF79DA #99E2D0 lightgrey;
    box-sizing: border-box;
    height: 185px;
    width: 185px;
    left: calc(50% - 80px);
    position: fixed;
    top: calc(50% - 80px);
    z-index: 1;
  }
  
  @keyframes xxx {
    100% {
      transform:rotate(360deg);
    }
}*/

.localisation{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    background-color:rgb(204, 204, 204);
    margin-top: 3px;

    & i{
        margin:10px
    }

    & p{
        margin:10px
    }
}

.exploration{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    line-height: 50px;
    background-color:rgb(240, 240, 240);

    & h2{
        font-weight: bold;
        margin: 10px;
    }

    & p{
        margin: 10px;
    }
}

.exploration-button{
    font-family: "Roboto";
    line-height: 50px;
    padding: 0px 10px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    cursor: pointer;
    box-shadow: 5px 5px 10px lightgrey;
    margin: 15px;

    &:hover{
        transition-duration: 0.25s;
        box-shadow: 5px 5px 10px grey;
    }
}

.fonctionnement{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    & h2{
        font-weight: bold;
        margin: 10px;
    }
}

.fonctionnement-block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10px;
    counter-reset: compteListe;
}

.fonctionnement-type{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    line-height: 50px;
    margin: 10px;
    margin-left: 20px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 20px;

    &::before{
        counter-increment: compteListe 1;
        content: counter(compteListe) " ";
        background: #9356DC;
        height: 20px;
        width: 20px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        font-family: "Roboto";
        margin: -10px;
    }

    &:hover{
        background-color:rgb(240, 240, 240);
        cursor: pointer;
    }

    & i{
        width: 15%;
        min-width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
    }

    &:hover i{
        color: $color-primaire;
        opacity: 100%;
    }

    & p{
        font-weight: bold;
        width: 85%;
    }
}

.restaurants{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color:rgb(240, 240, 240);

    & h2{
        font-weight: bold;
        margin: 10px;
    }
}

.restaurants-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.restaurants-type{
    width: 50%;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;

    &:hover{
        cursor: pointer;
        transform: scale(1.02);
    }

    & h3{
        font-weight: bold;
    }
    
    & p{
        font-weight: lighter;
    }
}

.restaurants-type-haut{
    height: 300px;
    width: 100%;
    position: relative;
    
    & img{
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    & .restaurants-new{
        background-color: $color-tertiaire;
        color: #1b6150;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.restaurants-type-description{
    display: flex;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 5px 10px lightgrey;
    height: 60px;
}

.restaurants-type-text{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 85%;
    font-size: small;
}

.restaurants-type-heart{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

    & .far{
        font-size: x-large;
        transition: 5s;
    }

    & .fas{
        font-size: x-large;
        display: none;
    }

    &:hover .fas{
        font-size: x-large;
        display:block;
        background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover .far{
        display: none;
    }
}

/* MEDIA Responsive - Mobile */

@media only screen and (max-width: 600px) {

    /*.loading-spinner-div{
    }

    .loading-spinner{
    }
  
    @keyframes spin {
    }*/

    .localisation{
        background-color:rgb(204, 204, 204);
    }

    .exploration{
        line-height: 35px;
        
        & h2{
            text-align: center;
            margin-top: 30px;
        }

        & p{
            text-align: center;
        }

        & .exploration-button{
            margin-bottom: 30px;
        }
    }

    .fonctionnement{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .fonctionnement-block{
        flex-direction: column;
    }

    .fonctionnement-type{
        width: 90%;
        line-height: 50px;
    }

    .restaurants{
        height: auto;
        margin-bottom: 0px;
    }

    .restaurants-block{
        flex-direction: column;
        height: auto;
        margin-bottom: 40px;
    }

    .restaurants-type{
        width: 90%;
        height: auto;
    }

    .restaurants-type-haut{
        height: auto;
        width: 100%;
        
        & img{
            height: 150px;
        }
    }
}

/* MEDIA Responsive - TABLETTE */

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /*.loading-spinner-div{
    }

    .loading-spinner{
    }
  
    @keyframes spin {
    }*/

    .localisation{
        background-color:rgb(204, 204, 204);
    }

    .exploration{
        line-height: 35px;
        
        & h2{
            text-align: center;
            margin-top: 30px;
        }

        & p{
            text-align: center;
        }

        & .exploration-button{
            margin-bottom: 30px;
        }
    }

    .fonctionnement{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .fonctionnement-block{
        flex-direction: column;
    }

    .fonctionnement-type{
        width: 90%;
        line-height: 50px;
    }

    .restaurants{
        height: auto;
        margin-bottom: 0px;
    }

    .restaurants-block{
        flex-direction: column;
        height: auto;
        margin-bottom: 40px;
    }

    .restaurants-type{
        width: 95%;
        height: auto;
    }

    .restaurants-type-haut{
        height: auto;
        width: 100%;
        
        & img{
            height: 250px;
        }
    }
}
