

/*En-tête*/

.en-tete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.en-tete h1{
    font-family: Shrikhand,"cursive" !important;
    text-align: center;
}
