.localisation{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    background-color:rgb(240, 240, 240);
    margin-top: 3px;
}

.localisation i{
    margin:10px
}

.localisation p{
    margin:10px
}

.exploration{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    line-height: 50px;
    background-color:rgb(240, 240, 240);
}

.exploration h2{
    font-weight: bold;
    margin: 10px;
}

.exploration p{
    margin: 10px;
}

.exploration-button{
    font-family: "Roboto";
    line-height: 50px;
    padding: 0px 10px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    cursor: pointer;
    box-shadow: 5px 5px 10px lightgrey;
    margin: 15px;
}

.exploration-button:hover{
    transition-duration: 0.25s;
    box-shadow: 5px 5px 10px grey;
}

.fonctionnement{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fonctionnement h2{
    font-weight: bold;
    margin: 10px;
}

.fonctionnement-block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10px;
    counter-reset: compteListe;
}

.fonctionnement-type{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    line-height: 50px;
    margin: 10px;
    margin-left: 20px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 20px;
}

.fonctionnement-type::before{
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356DC;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    font-family: "Roboto";
    margin: -10px;
}


.fonctionnement-type:hover{
    background-color:rgb(240, 240, 240);
    cursor: pointer;
}

.fonctionnement-type i{
    width: 15%;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.fonctionnement-type:hover i{
    color: $color-primaire;
    opacity: 100%;
}

.fonctionnement-type p{
    font-weight: bold;
    width: 85%;
}

.restaurants{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color:rgb(240, 240, 240);
}

.restaurants h2{
    font-weight: bold;
    margin: 10px;
}

.restaurants-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.restaurants-type{
    width: 50%;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column
}

.restaurants-type:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.restaurants-type img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.restaurants-type-description{
    display: flex;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 5px 10px lightgrey;
    height: 60px;
}

.restaurants-type-text{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 85%;
    font-size: small;
}

.restaurants-type h3{
    font-weight: bold;
}

.restaurants-type p{
    font-weight: lighter;
}

.restaurants-type-heart{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurants-type-heart .far{
    font-size: x-large;
    transition: 5s;
}

.restaurants-type-heart .fas{
    font-size: x-large;
    display: none;
}

.restaurants-type-heart:hover .fas{
    font-size: x-large;
    display:block;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.restaurants-type-heart:hover .far{
    display: none;
}


