.note img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.palette img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.delice img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.francaise img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.restaurant-presentation{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    margin-top: -30px;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:rgb(240, 240, 240);
}

.restaurant-titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


.restaurant-titre h2{
    font-family: 'Shrikhand';
}

.restaurant-type-heart{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurant-type-heart .far{
    font-size: x-large;
    transition: 5s;
}

.restaurant-type-heart .fas{
    font-size: x-large;
    display: none;
}

.restaurant-type-heart:hover .fas{
    font-size: x-large;
    display:block;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.restaurant-type-heart:hover .far{
    display: none;
}

.restaurant-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.restaurant-sous-menu{
    width: 32%;
}

.restaurant-sous-menu h3{
    font-weight: lighter;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.restaurant-type{
    display: flex;
    height: 60px;
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.restaurant-text{
    padding-left: 10px;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.restaurant-prix{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 60px;
}

.restaurant-check{
    width: 60px;
    height: 100%;
    background-color: $color-tertiaire;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -60px;
    z-index: 1;
    margin: 0px;
    color: white;
    transition: all 0.3s;
    text-decoration: none;
}

.restaurant-type:hover .restaurant-check{
    right:0px;
}

.restaurant-button{
    font-family: "Roboto";
    width: fit-content;
    line-height: 50px;
    padding: 0px 10px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    cursor: pointer;
    box-shadow: 5px 5px 10px lightgrey;
    margin-top: 30px;
    align-self: center;
}

.restaurant-button:hover{
    transition-duration: 0.25s;
    box-shadow: 5px 5px 10px grey;
}