.note img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.palette img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.delice img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.francaise img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.restaurant-presentation{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    margin-top: -30px;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:rgb(240, 240, 240);
}

.restaurant-titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    & h2 {
        font-family: 'Shrikhand';
    }
}

.restaurant-type-heart{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    & .far{
        font-size: x-large;
        transition: 5s;
    }

    & .fas{
        font-size: x-large;
        display: none;
    }

    &:hover .fas{
        font-size: x-large;
        display:block;
        background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover .fas{
        font-size: x-large;
        display:block;
        background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover .far{
        display: none;
    }
}

.restaurant-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.restaurant-sous-menu{
    width: 32%;

    & h3{
        font-weight: lighter;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}

.restaurant-type{
    display: flex;
    height: 60px;
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;

    &:hover .restaurant-check {
        width: 60px;
    }

    &:hover > .restaurant-check i {
        opacity: 1;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

    &:hover .restaurant-check{
        right:0px;
    }
}

.restaurant-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.restaurant-prix{
    width: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.restaurant-check{
    display: flex;
    width: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    align-self: stretch;
    background-color: $color-tertiaire;
    border-radius: 0px 10px 10px 0px;
    transition: width 0.5s ease-in-out;
    
    & i{
        opacity: 0.8;
        transition: all 0.5s ease-in-out;
    }
}

.restaurant-button{
    font-family: "Roboto";
    width: fit-content;
    line-height: 50px;
    padding: 0px 10px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    cursor: pointer;
    box-shadow: 5px 5px 10px lightgrey;
    margin-top: 30px;
    align-self: center;
    
    &:hover{
        transition-duration: 0.25s;
        box-shadow: 5px 5px 10px grey;
    }
}

