.note img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.palette img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.delice img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.francaise img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.restaurant-presentation{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    margin-top: -30px;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:rgb(240, 240, 240);
}

.restaurant-titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    & h2 {
        font-family: 'Shrikhand';
    }
}
    
.restaurant-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.restaurant-sous-menu{
    width: 100%;
    margin-bottom: 40px;

    & h3{
        font-weight: lighter;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-decoration: underline $color-tertiaire 4px;
    }
}

.restaurant-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 20px;
    font-size: 90%;

    & h4{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    & p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.restaurant-prix{
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.restaurant-check{
    display: flex;
    width: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    align-self: stretch;
    background-color: $color-tertiaire;
    border-radius: 0px 10px 10px 0px;
    transition: width 0.5s ease-in-out;
    
    & i{
        opacity: 0.8;
        transition: all 0.5s ease-in-out;
    }
}

.restaurant-button{
    font-family: "Roboto";
    width: fit-content;
    line-height: 50px;
    padding: 0px 10px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    cursor: pointer;
    box-shadow: 5px 5px 10px lightgrey;
    margin-top: 0px;
    align-self: center;
    
    
    &:hover{
        transition-duration: .25s;
        box-shadow: 5px 5px 10px grey;
    }
}

/* MEDIA Responsive - TABLETTE */

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .note img{
        height: 350px;
    }
    
    .palette img{
        height: 350px;
    }
    
    .delice img{
        height: 350px;
    }
    
    .francaise img{
        height: 350px;
    }
    
    .restaurant-menu{
        flex-direction: column;
    }
    
    .restaurant-sous-menu{
        width: 100%;
        margin-bottom: 40px;
    }
    
    .restaurant-text{
        padding-left: 20px;
    }
    
    .restaurant-button{
        margin-top: 0px;
    }
}

/* MEDIA Responsive - DESKTOP */

@media only screen and (min-width: 1025px){
    .note img{
        height: 400px;
    }

    .palette img{
        height: 400px;
    }

    .delice img{
        height: 400px;
    }

    .francaise img{
        height: 400px;
    }

    .restaurant-menu{
        flex-direction: row;
    }

    .restaurant-sous-menu{
        width: 32%;
    }

    .restaurant-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 20px;
        font-size: 90%;

        & h4{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        & p{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .restaurant-prix{
        width: 60px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .restaurant-check{
        display: flex;
        width: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        align-self: stretch;
        background-color: $color-tertiaire;
        border-radius: 0px 10px 10px 0px;
        transition: width 0.5s ease-in-out;
        
        & i{
            opacity: 0.8;
            transition: all 0.5s ease-in-out;
        }
    }

    .restaurant-button{
        margin-top: 30px;
    }
}