@for $i from 1 through 10 {
    .restaurant-sous-menu .restaurant-type:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.5}s;
    }
}

@keyframes type-aff {
    0% {
        opacity: 0;
    }

    50%{
        opacity: 0,5;
    }

    100% {
        opacity: 1;
    }
}

.restaurant-type{
    display: flex;
    height: 60px;
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    cursor: pointer;
    animation: type-aff 2s linear;
    visibility: visible;

    &:hover .restaurant-check {
        width: 60px;
    }

    &:hover > .restaurant-check i {
        opacity: 1;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

    &:hover .restaurant-check{
        right:0px;
    }    
}