.pied-page{
    display: flex;
    flex-direction: column;
    background-color: rgba(70, 70, 70, 0.925);
    color: white;
    padding: 10px;
    line-height: 30px;
    height: 200px;
    justify-content: center;
}

.pied-page h1{
    margin-bottom: 10px;
    font-size: larger;
}

.p-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.p-icon i{
    width: 30px;
}

.pied-page p:hover{
    cursor: pointer;
}