.en-tete{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: 70px;
    box-shadow: 0px 3px 10px grey;
    background-color: transparentize($color: lightgrey, $amount: 0.8);
}